<!DOCTYPE html>
<html>
<head>
  <title>Kevin's Rails Forum</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'application', 'http://fonts.googleapis.com/css?family=Lato:300,400,700' %>
  <%= stylesheet_link_tag 'application', 'https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css' %>  
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
	<div class="header main_header clearfix">
		<div class="wrapper">
			<div id="logo">
				<p> <%= link_to "Kevin's Rails Forum", root_path %></p>
			</div>
			<div id="buttons">
				<% if user_signed_in? %>
					<%= link_to "New Post", new_post_path %>
				<% else %>
					<%= link_to "Sign Up", '#'  %>
					<%= link_to "Sign In", '#' %>
				<% end %>
			</div>
		</div>
	</div>
	<div class="wrapper">
		<p class="notice"><%= notice %></p>
  	<p class="alert"><%= alert %></p>
	</div>
	
	<div class="wrapper">
			<%= yield %>
	</div>

</body>
</html>
